//mixin do_question(question, answer, active)
.item.question(class=(active ? 'active ' : '')+(whiteCard ? 'span4' : 'clearfix'))
	div(class=(whiteCard ? 'white-card clearfix' : ''))
		form(method="POST", action="/profile/questions/answer/#{question._id}")
			- if(answer)
				input(type="hidden", name="answerid", value=answer._id)
			.control-group
				label.control-label(for="value") #{question.text}
				- if(question.type == 'open')
					.controls
						input.input-block-level(type="text", name="value", value=(answer ? answer.value : false))
				- else if(question.type == 'multiple-choice')
					.controls
						select.input-block-level(name="value")
							option(value="") Select
							- for choice, j in question.choices
								option(value=choice, selected=(answer && choice == answer.value))
									| #{choice}
			input.btn.btn-primary.pull-right(type="submit", name="submit", value="Submit")
			|  
			input.btn.pull-right(type="submit", name="submit", value="Choose not to answer")
			//.control-group.pull-right
				.controls
					label.checkbox
						input(type="checkbox", name="no_answer", checked=(answer && answer.no_answer))
						| Choose not to answer