//mixin do_question(question, answer, active)
.item.question(class=(active ? 'active ' : '')+(whiteCard ? 'span4' : 'clearfix'))
	div(class=(whiteCard ? 'white-card clearfix' : ''))
		form.question(method="POST", action="/profile/questions/answer/#{question._id}")
			- if(answer)
				input(type="hidden", name="answerid", value=answer._id)
			.control-group
				label.control-label(for="value")
					| #{question.text}
					if answer && answer.no_answer
						|  
						div.pull-right.label.label-warning No Answer
					if question.transientRequired
						|  
						div.pull-right.label.label-info Required
				- if(question.type == 'open')
					.controls
						input.input-block-level(type="text", name="value", value=(answer ? answer.value : false))
				- else if(question.type == 'multiple-choice')
					.controls
						select.input-block-level(name="value")
							option(value="") Select
							- for choice, j in question.choices
								option(value=choice, selected=(answer && choice == answer.value))
									| #{choice}
				- else if(question.type == 'likert-style')
					.controls
						div.slider-container
							input.slider(type="text", value=(answer ? answer.value : 50), data-slider-min="0", data-slider-max="100", data-slider-step="1", data-slider-value=(answer ? answer.value : 50), data-slider-orientation="horizontal", data-slider-selection="after", name="value", id="slider-"+question._id)
						//.slider-marks
						//	- for(var k=0; k<=10; k++)
						//		span.slider-tick-mark(class=(k == 10 ? 'last' : ''))
						if question.choices && question.choices.length > 0
							span.slider-label-left #{question.choices[0]}
						if question.choices && question.choices.length > 1
							span.slider-label-right #{question.choices[1]}

			input.btn.btn-primary.pull-right(type="submit", name="submit", value="Submit")
			|  
			input.btn.pull-right(type="submit", name="submit", value="Choose not to answer")
			//.control-group.pull-right
				.controls
					label.checkbox
						input(type="checkbox", name="no_answer", checked=(answer && answer.no_answer))
						| Choose not to answer