doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap-datepicker/css/datepicker.css')
		link(rel='stylesheet', href='/css/navbar.css')
		link(rel='stylesheet', href='/css/style.css')
		//link(rel='stylesheet', media='all', type='text/css', href='http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700')
	body(class=bodyClass())
		block messages
			errorMessages = locals.flash('error')
			successMessages = locals.flash('info')
			questionMessages = locals.flash('question')
			if (errorMessages && errorMessages.length > 0) || (successMessages && successMessages.length > 0) || (questionMessages && questionMessages.length > 0)
				div.container.alerts
					if questionMessages
						each message in questionMessages
							div.alert.alert-block.alert-error
								| !{message}
					if errorMessages
						each message in errorMessages
							div.alert.alert-error
								button.close(type="button", data-dismiss="alert") &times;
								| !{message}
					if successMessages
						each message in successMessages
							div.alert.alert-success
								button.close(type="button", data-dismiss="alert") &times;
								| !{message}
		block nav
		//.container
		block vars
		if skipContainer
			block body
		else
			.container
				block body
		block footer
			footer
				.pre-footer
						.container
							.row
								.span4
									.footer-logo
										a
											| Experimonth
									ul.footer-address
										li
											strong Museum of Life and Science in Durham, NC
										li
											strong Address:
											|  433 W Murray Ave
											br
											| Durham, NC 27704, United States, Earth
										li
											strong 
												a(href="mailto:experimonth@lifeandscience.org") experimonth@lifeandscience.org
								.span4
									h5.footer-header Attn: Scientists, Museums
									ul.footer-address
										li If you  are a scientist, researcher, artist, historian, and/or otherwise excited by the potential of  co-creating an Experimonth together, <a href="mailto:experimonth@lifeandscience.org">let us know</a>.
										li
											br
										li If you are a museum, library, or other type of do-good organization interested in co-hosting an Experimonth together, <a href="mailto:experimonth@lifeandscience.org">let us know</a>.
								.span4
									h5.footer-header Get Notified
									ul.footer-address
										li 
											a(href="/get-notified") Subscribe to our list
											|  to be notified when new projects are launched.
					.deep-footer
						.container
							.row
								.span12.text-right
									a.social(href="http://twitter.com/experimonth") 
										i.icon-twitter
									|  
									a.social(href="http://facebook.com/experimonth") 
										i.icon-facebook
									|  
									span.copyright Copyright &copy; 2013 Experimonth.
		block feedback
			#feedback
				a(href="/feedback") Feedback

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		//script.
		//	EM_NAV = !{JSON.stringify(locals.nav)};
		//	REM_RIGHT_NAV = [
		//		{
		//			'name': 'Sign In',
		//			'link': '/signin'
		//		}
		//	];
		script(src='/js/em-navbar.js')
		//script.
		//	em_navbar(!{JSON.stringify(locals.nav)}, !{JSON.stringify(locals.rightNav)})
		script(src='/venera/js/bootstrap.js')
		script(src='/lib/bootstrap-datepicker/js/bootstrap-datepicker.js')
		script(src='/lib/bootstrap-wysiwyg/external/jquery.hotkeys.js')
		script(src='/lib/bootstrap-wysiwyg/bootstrap-wysiwyg.js')
		script(src='/lib/bootbox/bootbox.min.js')
		script(src='/js/app.js')

		if locals.host == 'science.experimonth.com'
			// Analytics for science.experimonth.com 
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
				ga('create', 'UA-46452112-1', 'experimonth.com');
				ga('send', 'pageview');
			
			// Gauges for science.experimonth.com
			script(type="text/javascript").
				var _gauges = _gauges || [];
				(function() {
					var t   = document.createElement('script');
					t.type  = 'text/javascript';
					t.async = true;
					t.id    = 'gauges-tracker';
					t.setAttribute('data-site-id', '52ab064be32bb460ee00084b');
					t.src = '//secure.gaug.es/track.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(t, s);
				})();