mixin do_notifications()
	if locals.userNotifications
		n = locals.userNotifications
	else if locals.notifications
		n = locals.notifications
	if n && n.length > 0
		each notification, i in n
			div(class='notification alert alert-'+notification.type+(notification.read ? ' read' : ''))
				if notification.subject
					| #{moment(notification.date).format('LLL')} - 
					strong !{notification.subject}
					a.close(href='/notification/read/'+notification._id)
						i.icon-remove
					| !{notification.text}
				else
					| #{moment(notification.date).format('LLL')} - 
					| !{notification.text}
					a.close(href='/notification/read/'+notification._id)
						i.icon-remove
	else
		h2 No Notifications!