extends ../layout

block body
	#container-inner
		h1 #{title}
		
		table.table.tablesorter
			thead
				tr
					th Start / End Date
					th Name
					th Kind
					th Type
					th Players
					th Open?
					th Actions
			tbody
				each experimonth, i in experimonths
					tr
						td #{locals.moment(experimonth.startDate).utc().format('M/D/YY')} - #{locals.moment(experimonth.endDate).utc().format('M/D/YY')}
						td #{experimonth.name}
						td #{experimonth.kind && experimonth.kind.name ? experimonth.kind.name : ''}
						td
							if experimonth.type && experimonth.type.length
								ul.unstyled
									each type in experimonth.type
										li #{type}
						td
							if experimonth.unlimited
								|  Unlimited
							else
								|  #{experimonth.users.length} / #{experimonth.userLimit}
						td #{experimonth.open ? 'yes' : 'no'}
						td
							a.btn(href="/experimonths/view/#{experimonth._id}") View
							|  
							a.btn(href="/experimonths/edit/#{experimonth._id}") Edit
							u = user(2, 10)
							if u
								|  
								if experimonth.published
									a.btn.btn-danger(href="/experimonths/publish/#{experimonth._id}", data-bootbox-confirm="<p>Are you sure you want to un-publish this Experimonth?.</p><p>There could be unexpected consequences.</p>") Un-publish
								else
									a.btn.btn-success(href="/experimonths/publish/#{experimonth._id}", data-bootbox-confirm="<p>Are you sure you want to publish this Experimonth</p><p>Publishing an Experimonth notifies users that a new Experimonth has been published.</p>") Publish
							//|  
							//a.btn.btn-danger(href="/experimonths/delete/#{experimonth._id}") Delete	
							u = user(2)
							- if(u)
								|  
								- if(experimonth.users.indexOf(u._id.toString()) == -1)
									a.btn.btn-primary(href=(enrollGoesToProfile ? '/profile?withError=true' : "/experimonths/enroll/#{experimonth._id}")) Enroll
								- else
									a.btn.btn-warning(href="/experimonths/unenroll/#{experimonth._id}") Un-enroll
		//- if(pages > 1)
		//	.pagination
		//		ul
		//			- if(page > 0)
		//				li
		//					a(href=baseurl+'/'+(page-1)) Prev
		//			- for(var i=0; i<pages; i++)
		//				li(class=(i == page ? 'active' : null))
		//					a(href=baseurl+'/'+i) #{i+1}
		//			- if(page < pages-1)
		//				li
		//					a(href=baseurl+'/'+(page+1)) Next