extends ../layout

block body
	#container-inner
		h1 #{title}
		
		table.table.table-striped.currently-recruiting
			thead
				tr
					th Experimonth
					th Begins on...
					th Open Spots
					th Enroll
			tbody
				each experimonth, i in experimonths
					tr
						td
							strong #{experimonth.name}
							if experimonth.description
								|  
								span.description (#{experimonth.description})
						td #{locals.moment(experimonth.startDate).utc().format('MMM. D, YYYY')}
						td
							if experimonth.unlimited
								|  Unlimited
							else if (experimonth.users.length / experimonth.userLimit) > 0.5
								|  Plenty Left
							else
								|  #{experimonth.userLimit - experimonth.users.length} Left
						td
							u = user(2, 10)
							if u
								if experimonth.users.indexOf(u._id.toString()) != -1
									a.btn.btn-warning(href="/experimonths/unenroll/#{experimonth._id}") Un-enroll
								else
									a.btn.btn-primary(href="/experimonths/enroll/#{experimonth._id}") Do It
							else
								a.btn.btn-primary(href="/register") Get Started
		//- if(pages > 1)
		//	.pagination
		//		ul
		//			- if(page > 0)
		//				li
		//					a(href=baseurl+'/'+(page-1)) Prev
		//			- for(var i=0; i<pages; i++)
		//				li(class=(i == page ? 'active' : null))
		//					a(href=baseurl+'/'+i) #{i+1}
		//			- if(page < pages-1)
		//				li
		//					a(href=baseurl+'/'+(page+1)) Next