extends ../layout

block body
	#container-inner
		h1 #{title}
		
		table.table.table-striped.currently-recruiting
			thead
				tr
					th Experimonth
					th.begins Begins on...
					th.open Open Spots
					th.enroll Enroll
			tbody
				each experimonth, i in experimonths
					tr
						td
							span.em-name #{experimonth.name}
							if experimonth.description
								|  
								a.em-description(href="#", data-bootbox-custom='<div class="em-modal"><div class="left"><img src="'+experimonth.image+'" /></div><div class="right"><h1>Experimonth: '+experimonth.name+'</h1>'+experimonth.description+'</div></div>', data-bootbox-custom-action-button="Enroll", data-bootbox-custom-action=(locals.user() ? (enrollGoesToProfile ? '/profile' : "/experimonths/enroll/#{experimonth._id}") : '/register')) [description]
						td #{locals.moment(experimonth.startDate).utc().format('MMM. D, YYYY')}
						td
							if experimonth.unlimited
								|  Unlimited
							else if (experimonth.users.length / experimonth.userLimit) > 0.5
								|  Plenty Left
							else
								|  #{experimonth.userLimit - experimonth.users.length} Left
						td
							u = user()
							if u
								if experimonth.users.indexOf(u._id.toString()) != -1
									if experimonth.kind && experimonth.kind.url
										a.btn(href=experimonth.kind.url) Visit
									a.btn.btn-warning(href="/experimonths/unenroll/#{experimonth._id}") Un-enroll
								else
									a.btn.btn-primary(href=(enrollGoesToProfile ? '/profile' : "/experimonths/enroll/#{experimonth._id}")) Enroll
							else
								a.btn.btn-primary(href="/register") Get Started
		//- if(pages > 1)
		//	.pagination
		//		ul
		//			- if(page > 0)
		//				li
		//					a(href=baseurl+'/'+(page-1)) Prev
		//			- for(var i=0; i<pages; i++)
		//				li(class=(i == page ? 'active' : null))
		//					a(href=baseurl+'/'+i) #{i+1}
		//			- if(page < pages-1)
		//				li
		//					a(href=baseurl+'/'+(page+1)) Next